/* -------------------
-------------common style--------  */
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0%;
}

.container {
    margin: 5% 8% 5% 8%;
}

.container a {
    text-decoration: none;
}

/* -------------------header css------------------------- */
.banner {
    background-color: rgb(82, 111, 50);
    display: flex;
    border-radius: 30px;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

.slogan {
    width: 45%;
    padding: 10% 0 10% 8%;
}

.slogan h1 {
    font-size: 3em;
    color: white;
}

.slogan P {
    color: white;
}

.slogan .btn {
    margin-top: 2pc;
}

.slogan .btn a {
    background-color: black;
    color: white;
    padding: 14px 25px;
    border-radius: 5px;
}

.slogan .btn a .fa-angle-right {
    margin-left: 10px;
}

.cover-img {
    width: 50%;
}

.cover-img img {
    width: 440px;
    padding: 11% 12% 0 0;
}

/*========================header css end  =====================================*/



/* =============main css start============================ */
.main-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}

.blogs-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    row-gap: 15px;
    column-gap: 15px;
}

.blogs {
    width: 280px;
    height: 240px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.blog-img{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.blog-img img {
    width: 100px;
}

.aside {
    background-color: rgb(82, 111, 50);
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.aside a {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
}

.aside #blog-btn {
    background-color: black;
    color: white;
}
.schedule{
    text-align: center;
    padding-top: 30px;
}
.blog-info {
    padding: 15px;
}
.blog-info h2{
    font-size: 20px;
}
.blog-info p {
    text-align: center;
    color: gray;
}


/* =======================footer css =========================*/
footer {
    background-color: rgb(82, 111, 50);
}

.goal h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.company-info ul {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.company-info ul li {
    list-style: none;
    margin-right: 30px;
}

.company-info ul li a {
    color: white;
}

.social {
    text-align: center;
    padding: 20px;
}

.social a {
    color: white;
    margin-right: 20px;
}


/* ------------------footer end---------------------------- */