/* -------------------
-------------common style--------  */
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0%;
}

.container {
    margin: 5% 8% 5% 8%;
}

.container a {
    text-decoration: none;
}

/* -------------------header css------------------------- */
.banner {
    background-color: rgb(82, 111, 50);
    display: flex;
    border-radius: 30px;
    background-size: cover;
    width: 100%;
    height: auto;
}

.slogan {
    width: 45%;
    padding: 10% 0 10% 8%;
}

.slogan h1 {
    font-size: 3em;
    color: white;
}

.slogan P {
    color: white;
}

.slogan .btn {
    margin-top: 2pc;
}

.slogan .btn a {
    background-color: black;
    color: white;
    padding: 14px 25px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-in-out .5s;
}

.slogan .btn a:hover {
    box-shadow: inset 160px 0 0 0 #fff;
    color: rgb(0, 0, 0);
}

.slogan .btn a .fa-angle-right:hover {
    color: black;
}

.slogan .btn a .fa-angle-right {
    margin-left: 10px;
}

.cover-img {
    width: 50%;
}

.cover-img img {
    width: 87%;
    padding: 11% 12% 0 0;
}

/*========================header css end  =====================================*/



/* =============main css start============================ */
.main-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}

.blogs-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75vh;
    row-gap: 15px;
    column-gap: 15px;
}

.blogs {
    width: 17.8em;
    height: auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.blog-img {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.aside {
    background-color: rgb(82, 111, 50);
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.aside a {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
}

.aside #blog-btn {
    background-color: black;
    color: white;
}

.schedule {
    text-align: center;
    padding-top: 30px;
}

.blog-info {
    padding: 15px;
}

.blog-info h2 {
    font-size: 20px;
}

.blog-info p {
    text-align: center;
    color: gray;
}


/* =======================footer css =========================*/
footer {
    background-color: rgb(82, 111, 50);
}

.goal h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.company-info ul {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.company-info ul li {
    list-style: none;
    margin-right: 30px;
}

.company-info ul li a {
    color: white;
}

.social {
    text-align: center;
    padding: 20px;
}

.social a {
    color: white;
    margin-right: 20px;
}


/* ------------------footer end---------------------------- */

/* =========================
media query================ */


/* ===================================responsive css    mobile device====================== */
@media only screen and (max-width:576px) {
    .banner {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .slogan .btn a {
        padding: 15px 15px;
    }

    .cover-img img {
        width: 100%;
        height: auto;
    }
    
    .main-part {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .aside {
        background-color: white;
    }

    .aside a {
        border: 1px solid gray;
    }

    .blogs-section {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: auto;
    }

    .blogs {
        margin-left: 25px;
    }

    .company-info ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .company-info ul li {
        padding-bottom: 5px;
    }
}

/* ========================
    =========mobile device done============== */


    /* =============tab device============== */

@media only screen and (min-width:577px) and (max-width:968px) {
    .banner {
        width: 100%;
        height: 100%;
    }

    .slogan p {
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cover-img img {
        width: 90%;
        height: 91%;
    }

    .main-part {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }



    .aside {
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .aside a {
        border: 1px solid gray;
        margin-right: 10px;
    }

    .blogs-section {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .blogs {
        margin-left: 25px;
    }

    .company-info ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .company-info ul li {
        margin-right: 50px;
        padding-bottom: 15px;
    }
}

/* ---------------tablet end ----------------------*/